<br>
<h1>My Cart</h1>

<ng-container *ngIf="products.length == 0">
    <div class="center">
        <h4>Your cart is empty!</h4>
        <h6>Please add items to your cart</h6>
    </div>    
</ng-container>

<ng-container *ngIf="products.length != 0">
   <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive table-hover-md">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">
                            <td><img style="width: 120px ;height: 97.33px;" src="{{item.image}}" alt=""></td>
                            <td>{{item.title}}</td>
                            <td>1</td>
                            <td>{{item.price | currency:'INR'}}</td>
                        </tr>
                        <tr>
                            <td><button (click)="emptycart()" class="btn btn-danger ">Empty Cart</button></td>
                            <td colspan="2"></td>
                            <td><strong>Grand Total : {{grandTotal}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
   </div>
</ng-container>