<hr>
<div class="row">
    <div class="col-md-3" *ngFor="let ins of instrumentproducts">
        <div style="padding: 50px;">
            <div class="card" style="width: 18rem;">
                <img [src]="ins.image" class="card-img-top mx-auto d-block" alt="..." style="width:fit-content;height: 180px;">
                <div class="card-body">
                    <h5 class="card-title">{{ins.title}}</h5>
                    <p class="card-text">{{ins.price | currency:'INR'}}</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary w-100" (click)=addToCart(ins)>Add to cart</button>
                </div>
            </div>
        </div>        
    </div>
</div>