<!-- <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" routerLink="/mask">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/mask">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/mask">Active</a>
        <h1>hello turban</h1>
    </li>
</ul> -->
<ul>
    <li>
        <a class="btn btn-secondary" style="font-size: large;" routerLink="/mask/n95">N95</a>
    </li>
    <li>
        <a class="btn btn-secondary" style="font-size: large;" routerLink="/mask/cool-mask">Cool Mask</a>
    </li>
    <li>
        <a class="btn btn-secondary" style="font-size: large;" routerLink="/mask/turban-mask">Turban Mask</a>
    </li>
</ul>
<br>
<br>
<br>
<br>
<br>
<router-outlet></router-outlet>