<hr>
<div class="row">
    <div class="col-md-3" *ngFor="let sanp of sanitaryproducts">
        <div style="padding: 50px;">
            <div class="card" style="width: 18rem;">
                <img [src]="sanp.image" class="card-img-top" alt="..." style="width: 280px;;height: 240px;">
                <div class="card-body">
                    <h5 class="card-title">{{sanp.title}}</h5>
                    <p class="card-text">{{sanp.price | currency:'INR'}}</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary w-100" (click)=addToCart(sanp)>Add to cart</button>
                </div>
            </div>
        </div>        
    </div>
</div>

  